<h1>Grammer Checking </h1>
<h2>Machine learnning APP</h2>
    <img class="thumb" src="https://image.freepik.com/free-vector/cute-bot-say-users-hello-chatbot-greets-online-consultation_80328-195.jpg" alt="Cute bot say users hello. chatbot greets. online consultation. Free Vector" width="200" height="200" data-pin-no-hover="true" onerror="this.onerror=null;ga('send', 'event', 'broken_image', 'detail', '80328_4015765');">
<form method="POST">
    <input name="text" size=55 class="form-control" aria-describedby="emailHelp">
    <input type=submit value=predict >

    <br>
   
</form>
<h1> Sentence entered  : {{sen}}  </h1>
<h1> Probability of grammer being correct  : {{prediction}} % </h1>

